# Assignment 6.1

Brandon Sams

05Oct2020

Using section 5.1 in Deep Learning with Python as a guide (listing 5.3 in particular), create a ConvNet model that classifies images in the MNIST digit dataset. Save the model, predictions, metrics, and validation plots in the dsc650/assignments/assignment06/results directory. If you are using JupyterHub, you can include those plots in your Jupyter notebook.

## Instantiating a small convnet

In [1]:
from keras import layers
from keras import models

In [2]:
model = models.Sequential()
model.add(layers.Conv2D(32,(3,3),activation='relu',input_shape=(28,28,1)))
model.add(layers.MaxPooling2D((2,2)))
model.add(layers.Conv2D(64,(3,3),activation='relu',input_shape=(28,28,1)))
model.add(layers.MaxPooling2D((2,2)))
model.add(layers.Conv2D(64,(3,3),activation='relu',input_shape=(28,28,1)))

In [3]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 26, 26, 32)        320
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 13, 13, 32)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 11, 11, 64)        18496
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 5, 5, 64)          0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 3, 3, 64)          36928
=================================================================
Total params: 55,744
Trainable params: 55,744
Non-trainable params: 0
_________________________________________________________________

## Adding a classifier on top of the convnet

In [4]:
model.add(layers.Flatten())
model.add(layers.Dense(64,activation='relu'))
model.add(layers.Dense(10,activation='softmax'))

In [5]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 26, 26, 32)        320
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 13, 13, 32)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 11, 11, 64)        18496
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 5, 5, 64)          0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 3, 3, 64)          36928
_________________________________________________________________
flatten (Flatten)            (None, 576)               0
_________________________________________________________________
dense (Dense)                (None, 64)                36928
_________________________________________________________________
dense_1 (Dense)              (None, 10)                650
=================================================================
Total params: 93,322
Trainable params: 93,322
Non-trainable params: 0
_________________________________________________________________

## Training the convnet on MNIST images

In [6]:
from keras.datasets import mnist
from keras.utils import to_categorical

In [7]:
(train_images, train_labels), (test_images, test_labels) = mnist.load_data()

train_images = train_images.reshape((60000, 28, 28, 1))
train_images = train_images.astype('float32') / 255

test_images = test_images.reshape((10000, 28, 28, 1))
test_images = test_images.astype('float32') / 255

train_labels = to_categorical(train_labels)
test_labels = to_categorical(test_labels)

In [8]:
model.compile(optimizer='rmsprop',
             loss='categorical_crossentropy',
             metrics=['accuracy'])

model.fit(train_images,
         train_labels,
         epochs=5,
         batch_size=64)

Epoch 1/5
938/938 [==============================] - 16s 17ms/step - loss: 0.1778 - accuracy: 0.9439
Epoch 2/5
938/938 [==============================] - 15s 16ms/step - loss: 0.0463 - accuracy: 0.9857
Epoch 3/5
938/938 [==============================] - 14s 15ms/step - loss: 0.0322 - accuracy: 0.9900
Epoch 4/5
938/938 [==============================] - 15s 16ms/step - loss: 0.0251 - accuracy: 0.9923
Epoch 5/5
938/938 [==============================] - 15s 16ms/step - loss: 0.0189 - accuracy: 0.9944

In [9]:
# Let's evaluate the model on the test data
test_loss, test_acc = model.evaluate(test_images,test_labels)
test_acc

313/313 [==============================] - 1s 5ms/step - loss: 0.0250 - accuracy: 0.9932

0.9932000041007996

# TODO: Save model

# TODO: Save predictions

# TODO: Save metrics

# TODO: Save validation plots

## Save model

In [10]:
model.save('./results/model_6_1.h5')

In [11]:
import pandas as pd
import numpy as np

num_testing = len(test_images)
pred = np.argmax(model.predict(test_images), axis=-1)
sub_df = pd.DataFrame()
sub_df["ImageId"] = list(range(1, num_testing + 1))
sub_df["Label"] = pred

In [12]:
(train_images, train_labels), (test_images, test_labels) = mnist.load_data()

sub_df["True_Label"] = test_labels

In [14]:
sub_df

      ImageId  Label  True_Label
0           1      7           7
1           2      2           2
2           3      1           1
3           4      0           0
4           5      4           4
...       ...    ...         ...
9995     9996      2           2
9996     9997      3           3
9997     9998      4           4
9998     9999      5           5
9999    10000      6           6

[10000 rows x 3 columns]

In [16]:
sub_df[sub_df.Label != sub_df.True_Label]

      ImageId  Label  True_Label
62         63      5           9
340       341      3           5
449       450      5           3
582       583      2           8
659       660      1           2
...       ...    ...         ...
9664     9665      7           2
9679     9680      3           6
9729     9730      6           5
9792     9793      9           4
9850     9851      8           0

[68 rows x 3 columns]